site_name: CLI client for ReductStore
site_description: The ReductStore CLI is a command line client for ReductStore, a time series database for blob data
docs_dir: .
nav:
  - Home:
      - README.md
  - Usage:
      - docs/aliases.md
      - docs/server.md
      - docs/bucket.md
      - docs/mirror.md
      - docs/token.md
  - CLI Reference: docs/cli.md
  - ReductStore: https://www.reduct.store

repo_name: reduct-storage/reduct-cli
repo_url: https://github.com/reductstore/reduct-cli
edit_uri: edit/main/


# Configuration
theme:
  name: material
  language: en
  palette:
    primary: indigo
  logo: docs/img/favicon.png
  favicon: docs/img/favicon.png
  font:
    text: Roboto
    code: JetBrains Mono
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde
  - pymdownx.snippets:
      base_path: docs
      check_paths: true
  - plantuml_markdown:
      format: svg
  - mkdocs-click


plugins:
  - same-dir

extra:
  analytics:
    provider: google
    property: G-KVT7VSNVGC
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.